/*******************************/
/********* General CSS *********/
/*******************************/
body {
    color: #797979;
    background: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2, 
h3, 
h4,
h5, 
h6 {
    color: #414141;
}

a {
    color: #313131;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: #0b192f;
    outline: none;
    text-decoration: none;
}

.btn:focus,
.form-control:focus {
    box-shadow: none;
}

.container-fluid {
    max-width: 1366px;
}

.btn {
    padding: 12px 25px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    background: #0b192f;
    border: 2px solid transparent;
    border-radius: 0;
    box-shadow: inset 0 0 0 50px #0b192f;
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
}

.btn:hover {
    color: #0b192f;
    background: transparent;
    box-shadow: inset 0 0 0 0 #0b192f;
    border-color: #0b192f;
}

#loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s ease-out, visibility 0s linear .3s;
    -o-transition: opacity .3s ease-out, visibility 0s linear .3s;
    transition: opacity .3s ease-out, visibility 0s linear .3s;
    z-index: 999;
}

#loader.show {
    -webkit-transition: opacity .6s ease-out, visibility 0s linear 0s;
    -o-transition: opacity .6s ease-out, visibility 0s linear 0s;
    transition: opacity .6s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

#loader .loader {
    position: relative;
    width: 45px;
    height: 45px;
    border: 5px solid #dddddd;
    border-top: 5px solid #0b192f;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.back-to-top {
    position: fixed;
    display: none;
    width: 44px;
    height: 44px;
    padding: 8px 0;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    z-index: 9;
}

.back-to-top i {
    color: #ffffff;
}

.back-to-top:hover i {
    color: #414141;
}


/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.navbar {
    position: relative;
    transition: .5s;
    z-index: 999;
}

.navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.navbar .navbar-brand {
    margin: 0;
    font-size: 45px;
    line-height: 0px;
    font-weight: 700;
    letter-spacing: 2px;
    transition: .5s;
    
}

.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 40px;
}

.navbar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

@media (min-width: 992px) {
    .navbar {
        position: absolute;
        width: 100%;
        padding: 30px 60px;
        background: transparent !important;
        border-bottom: 1px dashed rgba(256, 256, 256, .2);
        z-index: 9;
    }
    .navbar-nav .nav-link {
        margin: 0 10px; /* Ajoute 15px de marge de chaque côté des boutons */
    }
    
    
    .navbar.nav-sticky {
        padding: 10px 60px;
        background: #ffffff !important;
    }
    
    .navbar .navbar-brand {
        color: #ffffff;
    }
    
    .navbar.nav-sticky .navbar-brand {
        color: #0b192f;
    }
    
    .navbar-light .navbar-nav .nav-link,
    .navbar-light .navbar-nav .nav-link:focus {
        padding: 10px 10px 8px 10px;
        color: #ffffff;
        font-size: 15px;
        font-weight: 500;
    }
    
    .navbar-light.nav-sticky .navbar-nav .nav-link,
    .navbar-light.nav-sticky .navbar-nav .nav-link:focus {
        color: #0b192f;
    }

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link.active {
        color: #0967ff;
    }
    
    .navbar-light.nav-sticky .navbar-nav .nav-link:hover,
    .navbar-light.nav-sticky .navbar-nav .nav-link.active {
        color: #0967ff;
    }
}

@media (max-width: 991.98px) {   
    .navbar {
        padding: 15px;
        background: #ffffff !important;
    }
    
    .navbar .navbar-brand {
        color: #0662f7;
    }
    
    .navbar .navbar-nav {
        margin-top: 15px;
    }
    
    .navbar a.nav-link {
        padding: 5px;
    }
    
    .navbar .dropdown-menu {
        box-shadow: none;
    }
}

/*******************************/
/********** Hero CSS ***********/
/*******************************/
/* Effet de vague pour l'emoji */
@keyframes wave {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(14deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(14deg); }
    40% { transform: rotate(-4deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

.wave-emoji {
    display: inline-block;
    transform-origin: 70% 70%; /* Point de pivot de l'emoji */
    animation: wave 2s infinite; /* Animation de vague */
    cursor: pointer; /* Curseur interactif */
    transition: transform 0.2s ease;
}

.wave-emoji:hover {
    transform: scale(1.2); /* Agrandir légèrement l'emoji au survol */
}

.scroll-indicator {
    position: absolute; /* Positionne l'indicateur de défilement */
    bottom: 20px; /* Espacement à partir du bas */
    left: 50%; /* Centre l'icône horizontalement */
    transform: translateX(-50%); /* Ajuste pour centrer exactement */
    font-size: 24px; /* Taille de l'icône */
    color: #ffffff; /* Couleur de l'icône */
    animation: bounce 1.5s infinite; /* Animation de rebond */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0); /* Position de départ */
    }
    40% {
        transform: translateY(-10px); /* Légère élévation */
    }
    60% {
        transform: translateY(-5px); /* Retour vers le bas */
    }
}


/* Section Hero */
.hero {
    position: relative;
    width: 100vw; /* Prend toute la largeur de la fenêtre */
    height: 80vh; /* Prend toute la hauteur de la fenêtre */
    padding: 60px 0; /* Ajuste l'espacement supérieur et inférieur */
    background-color: #0b192f; /* Couleur de fond */
    color: #ffffff;
    display: flex;
    justify-content: space-between; /* Espace entre le texte et l'image, centré horizontalement */
    align-items: center; /* Centre verticalement le texte et l'image */
    margin: 0;
}

/* Contenu du texte à gauche */
.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre verticalement le texte */
    align-items: flex-start; /* Aligne le texte à gauche */
    text-align: left; /* Texte aligné à gauche */
    padding: 0px; /* Espace autour du texte */
    margin-left: -20px;
}

.hero-text .name {
    font-size: 50px; /* Taille du nom */
    font-weight: 700; /* Gras */
    color: #ffffff;
}

.hero-text .position {
    font-size: 36px; /* Taille du poste */
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 10px;
}

.hero-text .intro-text {
    font-size: 18px; /* Taille du texte d'introduction */
    margin: 10px 0; /* Espacement autour du texte */
    color: #ffffff; /* Couleur du texte */
}

/* Conteneur de l'image à droite */
.hero-image-container {
    display: flex;
    justify-content: center; /* Centre l'image horizontalement */
    align-items: center; /* Centre l'image verticalement */
    margin-left: 50px; /* Espace entre le texte et l'image */
}

.hero-image img {
    width: 80%; /* Ajuste la taille de l'image */
    max-width: 300px; /* Largeur maximale de l'image */
    height: auto; /* Hauteur automatique */
    border-radius: 50%; /* Arrondi des bords */
    object-fit: cover; /* Ajuste l'image sans déformation */
}

/* Boutons */
.hero-buttons {
    display: flex;
    gap: 15px; /* Espacement entre les boutons */
    justify-content: flex-start; /* Aligne les boutons à gauche */
    margin-top: 20px; /* Espace au-dessus des boutons */
}
.hero .download-btn {
    background-color: #0083fd; /* Couleur des boutons */
    color: #ffffff; /* Couleur du texte des boutons */
    padding: 10px 20px; /* Espacement intérieur des boutons */
    border-radius: 30px; /* Arrondi des bords des boutons */
    text-decoration: none; /* Supprime le soulignement */
    font-weight: 600; /* Épaisseur du texte */
    display: inline-flex; /* Pour aligner l'icône et le texte */
    align-items: center; /* Centre l'icône verticalement */
}

.hero .download-btn i {
    margin-right: 8px; /* Espace entre l'icône et le texte */
}

.hero .download-btn:hover {
    background-color: #0083fd; /* Couleur au survol */
}

/* Media queries pour les petits écrans */
@media (max-width: 991.98px) {
    .hero {
        flex-direction: column; /* Empile le texte et l'image verticalement sur les petits écrans */
        text-align: center; /* Centre le texte */
    }

    .hero-content {
        align-items: center; /* Centre le texte */
        text-align: center; /* Aligne le texte au centre sur petits écrans */
    }

    .hero-image-container {
        margin-left: 0;
        margin-top: 20px; /* Espace entre le texte et l'image sur les petits écrans */
    }

    .hero-text .name {
        font-size: 36px; /* Taille du nom sur petits écrans */
    }

    .hero-text .position {
        font-size: 24px; /* Taille du poste sur petits écrans */
    }
}

@media (max-width: 767.98px) {
    .hero-text .name {
        font-size: 30px; /* Taille du nom sur écrans plus petits */
    }

    .hero-text .position {
        font-size: 20px; /* Taille du poste sur écrans plus petits */
    }

    .hero-image img {
        width: 60%; /* Ajuste la taille de l'image sur petits écrans */
    }
}

@media (max-width: 575.98px) {
    .hero-text .name {
        font-size: 24px; /* Taille du nom sur petits écrans */
    }

    .hero-text .position {
        font-size: 18px; /* Taille du poste sur petits écrans */
    }

    .hero-image img {
        width: 50%; /* Ajuste la largeur de l'image */
    }
}



/*******************************/
/******* Experience CSS ********/
/*******************************/
.experience {
    position: relative;
    padding: 45px 0 15px 0;
    background-color: #b5c3db; 
}

.experience .timeline {
    position: relative;
    width: 100%;
}

.experience .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #0b192f;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.experience .timeline .timeline-item {
    position: relative;
    background: inherit;
    width: 50%;
    margin-bottom: 30px;
}

.experience .timeline .timeline-item.left {
    left: 0;
    padding-right: 30px;
}

.experience .timeline .timeline-item.right {
    left: 50%;
    padding-left: 30px;
}

.experience .timeline .timeline-item::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 48px;
    right: -8px;
    background: #ffffff;
    border: 2px solid #0b192f;
    border-radius: 16px;
    z-index: 1;
}

.experience .timeline .timeline-item.right::after {
    left: -8px;
}

.experience .timeline .timeline-item::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 46px;
    right: 10px;
    z-index: 1;
    border: 10px solid;
    border-color: transparent transparent transparent #0b192f;
}

.experience .timeline .timeline-item.right::before {
    left: 10px;
    border-color: transparent #0b192f transparent transparent;
}


.experience .timeline .timeline-date {
    position: absolute;
    width: 100%;
    top: 44px;
    font-size: 16px;
    font-weight: 600;
    color: #0b192f;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
}

.experience .timeline .timeline-item.left .timeline-date {
    text-align: left;
    left: calc(100% + 55px);
}

.experience .timeline .timeline-item.right .timeline-date {
    text-align: right;
    right: calc(100% + 55px);
}

.experience .timeline .timeline-text {
    padding: 30px;
    background: #ffffff;
    position: relative;
    border-right: 5px solid #0b192f;
    box-shadow: 0 0 60px rgba(0, 0, 0, .08);
}

.experience .timeline .timeline-item.right .timeline-text {
    border-right: none;
    border-left: 5px solid #0b192f;
}

.experience .timeline .timeline-text h2 {
    margin: 0 0 5px 0;
    font-size: 22px;
    font-weight: 600;
}

.experience .timeline .timeline-text h2 {
    width: 20ch; /* Limite à environ 20 caractères */
    white-space: normal; /* Permet de passer à la ligne */
    overflow-wrap: break-word; /* Couper les mots si nécessaire */
}


.experience .timeline .timeline-text h4 {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

.experience .timeline .timeline-text p {
    margin: 0;
    font-size: 16px;
}



.company-logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px; /* Ajuste la taille du logo */
    height: auto; /* Garde les proportions du logo */
}

/* Pour les petits écrans */
@media (max-width: 767.98px) {
    .experience .timeline::after {
        left: 8px;
    }

    .experience .timeline .timeline-item {
        width: 100%;
        padding-left: 38px;
    }

    .experience .timeline .timeline-item.left {
        padding-right: 0;
    }

    .experience .timeline .timeline-item.right {
        left: 0%;
        padding-left: 38px;
    }

    .experience .timeline .timeline-item.left::after,
    .experience .timeline .timeline-item.right::after {
        left: 0;
    }

    .experience .timeline .timeline-item.left::before,
    .experience .timeline .timeline-item.right::before {
        left: 18px;
        border-color: transparent #0b192f transparent transparent;
    }

    .experience .timeline .timeline-item.left .timeline-date,
    .experience .timeline .timeline-item.right .timeline-date {
        position: relative;
        top: 0;
        right: auto;
        left: 0;
        text-align: left;
        margin-bottom: 10px;
    }

    .experience .timeline .timeline-item.left .timeline-text,
    .experience .timeline .timeline-item.right .timeline-text {
        border-right: none;
        border-left: 5px solid #0b192f;
    }
}




/*******************************/
/********** Skills CSS ***********/
/*******************************/
.skill {
    padding: 60px 0;
    background-color: #0b192f;; /* Couleur de fond pour la section des compétences */
}

.skill .section-header {
    margin-bottom: 40px;
}

.skill h2 {
    font-size: 36px;
    color: #333; /* Couleur du titre */
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Grille 2x2 */
    gap: 30px; /* Espacement entre les tuiles */
}

.skill-tile {
    background-color: #ffffff; /* Couleur de fond des tuiles */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.skill-tile h3 {
    font-size: 24px;
    color: #333; /* Couleur du sous-titre */
    margin-bottom: 15px;
}

.skill-tile .skill-circles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.skill-tile .skill-circle {
    background-color: #e0e0e0; /* Couleur de fond des cercles */
    border-radius: 50px; /* Cercle */
    padding: 10px 20px;
    font-size: 16px;
    color: #333; /* Couleur du texte */
    text-align: center;
    display: inline-block;
}

@media (max-width: 767.98px) {
    .skill-grid {
        grid-template-columns: 1fr; /* Passe à une seule colonne sur les petits écrans */
    }
}



/*******************************/
/********* education CSS *********/
/*******************************/
/* Assure-toi d'ajouter ce CSS dans ton fichier styles.css ou dans une balise <style> dans le <head> */

/* SECTION EDUCATION */
.education {
    padding: 60px 20px;
    background-color: #f4f8ff;
}

.education-item {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
    max-width: 700px; /* Limiter la largeur maximale des tuiles */
    margin-left: auto; /* Centrer horizontalement */
    margin-right: auto; /* Centrer horizontalement */
}

.education-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.education-icon {
    flex: 0 0 80px;
    margin-right: 20px;
}

.education-icon img {
    width: 80px;
    height: auto;
}

.education-details {
    flex: 1;
}

.education-details h3 {
    font-size: 18px;
    font-weight: bold;
    color: #1a1a1a;
    margin-bottom: 5px;
}

.education-details p {
    font-size: 14px;
    color: #666;
}

/* Contrôles du carousel */
.carousel-control-prev,
.carousel-control-next {
    width: 50px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #333;
    border-radius: 50%;
}

.carousel-indicators li {
    background-color: #666;
}

.carousel-indicators .active {
    background-color: #333;
}

/* Ajustements pour petits écrans */
@media (max-width: 768px) {
    .education-item {
        flex-direction: column;
        text-align: center;
        min-height: auto;
        max-width: 100%; /* Sur petits écrans, la tuile occupe toute la largeur */
    }

    .education-icon {
        margin-right: 0;
        margin-bottom: 10px;
    }
}




/*******************************/
/******** Portfolio CSS ********/
/*******************************/
.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-item {
    flex: 0 0 calc(33.333% - 10px); /* Réduire l'espace horizontal entre les projets */
    margin-bottom: 5px; /* Réduire l'espace entre les projets */
}

/* Card styling */
.portfolio-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    height: 100%;
}

.portfolio-card:hover {
    transform: translateY(-5px);
}

.portfolio-img img {
    width: 100%;
    height: auto;
}

/* Title styling with gray background and shadow */
.portfolio-title {
    background-color: #f5f5f5; /* Gris-blanc */
    color: #333;
    text-align: center;
    padding: 15px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre légère */
    font-weight: bold;
    font-size: 12px; /* Réduisez la taille ici */
}
.portfolio-card .portfolio-title h3 {
    font-size: 16px; /* Ajustez à la taille désirée */
}

.portfolio-description {
    padding: 20px;
    flex-grow: 1;
}

.portfolio-description p {
    margin-bottom: 10px;
    font-size: 14px;
}

.portfolio-button {
    text-align: center;
    padding: 15px;
}

.portfolio-button .btn {
    background-color: #0b192f;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}

.portfolio-button .btn:hover {
    background-color: #2f3d56;
}

/* Responsive Styles */
@media (max-width: 991.98px) {
    .portfolio-item {
        flex: 0 0 calc(50% - 10px); /* Affiche 2 projets par ligne sur tablette */
    }
}

@media (max-width: 767.98px) {
    .portfolio-item {
        flex: 0 0 calc(100% - 10px); /* Affiche 1 projet par ligne sur mobile */
    }
}

.modal {
    display: none; /* Cacher par défaut */
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); /* Couleur de fond semi-transparente */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
}

.modal-content {
    display: block;
    max-width: 50%; /* Ajustez si nécessaire */
    max-height: 70%; /* Ajustez si nécessaire */
}

.close {
    position: absolute;
    top: 15px; /* Position à partir du haut */
    right: 20px; /* Position à partir de la droite */
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1000; /* Assurez-vous que la croix est au-dessus de l'image */
}


/*******************************/
/********* Contact CSS *********/
/*******************************/
.contact {
    position: relative;
    width: 100%;
    margin: 45px 0;
    background: #0b192f;
}

.contact .container-fluid {
    background: url(../img/contact.jpg) left center no-repeat;
    background-size: contain;
}

.contact .contact-form {
    position: relative;
    padding: 90px 0 90px 45px;
    background: #0b192f;
}

.contact .contact-form input {
    color: #ffffff;
    padding: 15px 0;
    background: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(256, 256, 256, .5);
}

.contact .contact-form textarea {
    color: #ffffff;
    height: 90px;
    padding: 15px 0;
    background: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(256, 256, 256, .5);
}

.contact .contact-form .form-control::placeholder {
    color: #ffffff;
    opacity: 1;
}

.contact .contact-form .form-control:-ms-input-placeholder,
.contact .contact-form .form-control::-ms-input-placeholder {
    color: #ffffff;
}

.contact .contact-form .btn {
    margin-top: 35px;
    color: #0b192f;
    background: #ffffff;
    box-shadow: inset 0 0 0 50px #ffffff;
}

.contact .contact-form .btn:hover {
    color: #ffffff;
    background: transparent;
    box-shadow: inset 0 0 0 0 #ffffff;
    border-color: #ffffff;
}

.contact .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 14px;
    font-style: italic;
    color: #ffffff;
}

@media (max-width: 767.98px) {
    .contact .container-fluid {
        background: none;
    }
    
    .contact .contact-form {
        padding: 90px 0;
    }
}





/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
    position: relative;
    margin-top: 45px;
    background: #0b192f;
}

.footer .container-fluid {
    padding: 60px 0 0 0;
}

.footer .footer-info {
    position: relative;
    width: 100%;
    text-align: center;
}

.footer .footer-info h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}

.footer .footer-info h3 {
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
}

.footer .footer-menu {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer .footer-menu p {
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    line-height: 20px;
    padding: 0 15px;
    border-right: 1px solid #ffffff;
}

.footer .footer-menu p:last-child {
    border: none;
}

.footer .footer-menu p a {
    color: #ffffff; /* Couleur par défaut des liens */
    text-decoration: none; /* Suppression du soulignement */
}

.footer .footer-menu p a:hover {
    color: #0967ff; /* Couleur au survol */
    text-decoration: underline; /* Soulignement au survol */
}

.footer .footer-social {
    position: relative;
    margin-top: 15px;
}

.footer .footer-social a {
    display: inline-block;
}

.footer .footer-social a i {
    margin-right: 15px;
    font-size: 20px;
    color: #ffffff;
    transition: .3s;
}

.footer .footer-social a:last-child i {
    margin: 0;
}

.footer .footer-social a:hover i {
    color: #0967ff;
}

.footer .copyright {
    position: relative;
    text-align: center;
    margin-top: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer .copyright::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 1px;
    top: 0;
    left: 25%;
    background: rgba(256, 256, 256, .2);
}

.footer .copyright p {
    margin: 0;
    color: #ffffff;
}

.footer .copyright .col-md-6:last-child p {
    text-align: right;
}

.footer .copyright p a {
    color: #ffffff;
    font-weight: 600;
}

.footer .copyright p a:hover {
    color: #0967ff; /* Couleur au survol pour le lien */
}

@media (max-width: 575.98px) {
    .footer .footer-info h2 {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 600;
    }

    .footer .footer-info h3 {
        margin-bottom: 20px;
        font-size: 16px;
    }

    .footer .footer-menu p {
        font-size: 16px;
        line-height: 16px;
        padding: 0 5px;
    }
}
